<%- include('partials/header', { page: 'home' }) %>
<div class="container mt-5 text-center">
  <h3>Bem-vindo</h3>
  <p>Você conseguiu logar.</p>

  <a href="/logout" class="btn btn-danger mt-4 px-4 py-2">
    Sair
  </a>
</div>