<%- include('partials/header', { page: 'register' }) %>
<style>
  form {
    width: 320px;
  }
</style>
<div class="centered-container">
<form method="POST" action="/register" class="card-form text-center">
  
  <div class="avatar">
      <img src="/img/caminhaoVW.png">
  </div>
  <input name="username" placeholder="Usuário" class="form-control mb-2" required>
  <input name="password" type="password" placeholder="Senha" class="form-control mb-2" required>
  <div class="mt-4">
  <button type="submit" class="btn btn-success w-100 mb-3">Cadastrar</button>
  <p class="mb-0">Já tem conta? <a href="/login">Voltar</a></p>
  </div>
  
</form>
</div>